/* import the main font of the pages 
    font name = Poppins
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .item{
        @apply flex flex-row items-center rounded-2xl;
    }
    .icon_container{
        @apply w-12 h-12 rounded-full grid place-content-center
    }
    .item_title_num{
        @apply font-semibold text-black;
        
    }
    .item_desc{
        @apply text-sm font-semibold text-gray block -mt-1
    }
}




/* @media screen and (max-width: 992px) {
    .container{
        max-width: 970px;
    }
} */


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* a{
    text-decoration: none;
}
a:active, a:focus {
  outline: 0;
  border: none;
}
ul{
    list-style: none;
} */

/* ################################## */

#nav_header{
    height: 101px;  
}
@media screen and (max-width: 768px) {
    #nav_header{
        height: 100vh;
    }
}
/* ####################################### */
/* mobile nav start */
.mobile_nav{
    
}
.mobile_nav header{
    height: 75px;
}
.mobile_nav .page_links, .mobile_nav .social_links{
    padding: 60px 0px;
    gap: 30px;
}
    /* style for page_links in the mobile nav */
@layer components{
    .mobile_nav .page_links a {
        @apply text-sm font-semibold text-gray hover:text-black transition-colors ease-in capitalize;
    }
    .mobile_nav .page_links a:first-child {
        @apply text-black;
    }
}
    /* style for page_links in the desk nav */

@layer components{
    .mobile_nav .social_links a {
        @apply text-sm font-semibold text-black hover:text-gray  capitalize;
    }
    .mobile_nav .social_links  li {
        @apply  flex flex-row items-center gap-4;
    }  
}
.mobile_nav .social_links li:hover path{
    fill:#3772FF;
}
/* mobile nav end */
/* ################################## */

/* desk nav start */

.desk_nav{
    height: 100px;
}
.nav_links ul> a {
   margin-left: 53px; 
}
.nav_links ul >a:hover {
    color: #23262F;
 }
.contact_desk_nav_btn{
    width: 94px;
    height: 43px;
    margin-left: 74px;
}
.logo{
    max-width: 170px;
    height: 34px;
}
#line_under_desk_nav{
    height: 1px;
}
/* desk nav end  */

/* ##################################### */
/* hero section start */
.hero{
    margin-top: 60px;
    height: calc(100vh - 100px - 1px - 60px);
}
.hero_content{
    height: 100%;
    padding: 60px 0px;
    background-image: url('./img/backgrounds/magicoon-header-icons.svg');
    background-repeat: no-repeat;
    background-position: center;   
}
.hero h1{
    line-height: 70px;
}
.hero p{
    line-height: 28px;
    margin: 30px 0px;
}

@media screen and (max-width: 768px) {
    .hero h1{
        line-height: 56px;
    }
    .hero p{
        line-height: 26px;
    }
   
}

.hero .hero_download_btn{
    width: 177px;
    height: 50px;
    border-radius: 29px;
    margin-bottom: 30px;
}
.hero .hero_download_btn .donwload_btn_icon{
    max-width: 20px;
    max-height: 14px;
}
.other_text span{
    margin-bottom: 6px;
}
.hero .text_content{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% - 60px));

}
/* hero section end */

/* ############################################## */
#show_sec{

}
#show_sec .container .content{
    gap: 42px;
    padding: 45px;
}

#show_sec .item{
    /* padding: 30px; */
    gap: 30px;
}
.figma_item_icon{
    min-width: 270px;
    padding: 30px;
}
.item_title_num{
    font-size: 38px;
}