
@tailwind components;




/* hero section start */

@keyframes scroll_background{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -2420px  0;
    }
}
.hero_content{
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: auto 100%;
    animation: scroll_background 180s infinite linear ;

    height: 535px;
    display: grid;
    place-content: center;
    place-items: center;
    background-image: url('./img/backgrounds/magicoon-header-icons.svg');
}


.hero{
}
@media screen and (max-width: 768px) {
    .hero{
    }
}

.white_over_lay{
    background: rgb(252,252,253);
    background: linear-gradient(0deg, rgba(252,252,253,0) 0%, rgba(252,252,253,1) 100%);
}


@media screen and (max-width:768px){
    .hero_content{
    }
    .text_content {

        
    }
}
.hero h1{
    line-height: 70px;
}
.hero p{
    line-height: 28px;
    margin: 30px 0px;
}

@media screen and (max-width: 768px) {
    .hero h1{
        line-height: 56px;
    }
    .hero p{
        line-height: 26px;
    }
   
}

.hero .hero_download_btn{
    width: 177px;
    height: 50px;
    border-radius: 29px;
    margin-bottom: 30px;
}
.hero .hero_download_btn .donwload_btn_icon{
    max-width: 20px;
    max-height: 14px;
}
.other_text span{
    margin-bottom: 6px;
}
.hero .text_content{
    /* position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% - 60px)); */

}
@layer components{
    .box_item{
        @apply flex flex-row items-center rounded-2xl
        col-span-12 sm:col-span-6 lg:col-span-3;
    }
    .icon_container{
        @apply w-12 h-12 rounded-full grid place-content-center
    }
    .item_title_num{
        @apply font-semibold text-black;
        
    }
    .item_desc{
        @apply text-sm font-semibold text-gray block -mt-1
    }
}
.box_item{
    gap: 30px;
    padding: 35px 30px;
}

.box_item_figma:hover .icon_container{
    background-color: #FCFCFD;

}
.box_item_figma:hover .item_text h3{
    color: #FCFCFD;
    
}
.box_item_figma .item_text h3{
    font-size: 28px;
    
}
.item_title_num{
    font-size: 38px;
}
@media screen and (max-width:768px) {
    .box_item .item_text h3{
        font-size: 28px;
    }
    .box_item_figma .item_text h3{
        font-size: 24px;
        
    }
    .box_item{
        gap: 24px;
        padding: 30px;
    }
}


/* slider_hero  */
@layer components{
    #hero .box .box_content >div{
        @apply min-w-full
    }
}




/* hero section end */

/* ############################################## */






/* ################ */
/* about text */
@media screen and (max-width:768px) {

    #about .grid_system{
        row-gap: 32px;
        column-gap: 20px;
    }
}


@layer components{
    .about_text,.icons_styles{
        @apply text-center  sm:px-20 xl:px-48
        
    }
    .about_text h3{
        @apply text-black font-bold  mb-8
    }
    .about_text p{
        @apply text-black font-normal text-sm 

    } 
}

.about_text h3{
    font-size: 28px;
}
.about_text p{
   line-height: 26px;
}




.line_between_text{
    width: 1px;
    height: 60px;
    margin: 60px auto;
}

.icons_360_text h3{
    font-size: 45px;
}
.icons_360_text p{
    margin-bottom: 45px;
}

@media screen and (max-width:768px) {
   .icons_360_text h3{
       font-size: 38px;
   }
}


/* ################## */
.icons_styles{
    
}

@layer components{
    .icons_styles .item{
        @apply col-span-6 sm:col-span-3 flex flex-col items-center
    }
    .icons_styles .item .box{
        @apply bg-blue transition
        rounded-2xl grid place-content-center gap-4 place-items-center
    }
    .icons_styles .item .box span{
        @apply  text-sm font-semibold text-white
    }
    .icons_styles .item:hover .box{
        @apply bg-dark_blue
    }
    .icons_styles .item:hover >span{
        @apply bg-black text-white border-none
    }
    .icons_styles .item .box img{
        @apply w-12 h-12 
    }
    .icons_styles .item >span{
        @apply  border-2 border-light_ray font-semibold text-xs transition
    }
}

.icons_styles .item .box{
    width: 120px;
    height: 120px;      
    margin-bottom: 25px; 
}
.icon_px{
    border-radius: 20px;
    /* width: 70px;
    height: 35px; */
    padding: 10px 23px;
}


/* #############    formats ################## */

.formats{

}

.downforamts_box .box{
    gap: 30px;
}
.formats .box {
    padding: 90px 60px 90px 45px;

}
.downforamts_box .box .text_content div:first-child span:first-child{
    width: 30px;
    height: 1px;
}
.downforamts_box .box .text_content h3{
    font-size: 45px;
    line-height: 60px;
    
}
.downforamts_box .box .text_content >div:nth-child(2){
    padding-left: 55px;

}

.downforamts_box .box .icons_content{
    gap: 26px;
}
@layer components {
    .downforamts_box .box .text_content ul li {
        @apply flex items-center gap-5 pb-5
    }
    .formats .box .icons_content .item{
        @apply col-span-6 bg-white rounded-2xl flex flex-col md:flex-row gap-4 sm:gap-5 items-center p-6 
    }
    .formats .box .icons_content .item .icon_container{
        @apply bg-super_light_gray  w-14 h-14
    }
    .formats .box .text{
        @apply text-center md:text-left
    }
    .formats .box .icons_content .item .text span:first-child{
        @apply  font-semibold text-base sm:text-lg text-black block
    }
    .formats .box .icons_content .item .text span:nth-child(2){
        @apply  font-semibold text-gray text-sm
    }
}



@media screen and (max-width: 768px) {
    .downforamts_box .box{
        padding-left:  16px;
        padding-right:  16px;

        /* gap: 30px; */
    }
    .formats .box{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .downforamts_box .box .text_content div:nth-child(2){
        padding-left: 0px;
    
    }

    .downforamts_box .box .text_content h3{
        font-size: 38px;
        line-height: 56px;
        
    }
    .formats .box .icons_content{
        gap: 15px;
    }
}


#download .donwload_btn {
    width: 232px;
    height: 85px;
}

/* ################### */
/* slider start */
.slider{
    padding: 60px 45px 30px 45px;  
}
@media screen and (max-width: 992px){
    /* .slider{
        padding: 60px 10px;
    } */
}
@layer components{
    .slider .slide_contorler .bolets_container div{
        @apply bg-white hover:bg-blue border-1 border-light_ray  rounded-full cursor-pointer
    }
}
.slider .slide_content{
    /* max-width: 480px;
    max-height: 248px; */
    overflow-x: hidden;
}

.slider .slide_contorler{
    width: 100%;
}
.slider .slide_contorler .bolets_container div{
    width: 10px;
    height: 10px;
}
.slider .slide_contorler .bolets_container div.active{
    background-color: #3772FF;
    border: 0px;
}


.user_view_port{
    display: flex;
    width: 600%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* transition form the js */
    /* transition: transform 0.2s ease; */
}
.slide_content .user_view_port >div{
    width: 100%;
    height: 100%;
    

}

/* ########################################## */

