/* import the main font of the pages 
    font name = Poppins
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    a{
        @apply transition
    }
}


body{
    margin-top: 101px;
}
/* small screens */
@media screen and (max-width: 768px) {
    body{
        margin-top: 76px;
    }
}



html{
    scroll-behavior: smooth;
}

h3{
    letter-spacing: 2px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@layer components{
    .hover_transition{
        @apply transition ease-in
    }
   
}



@layer components{
    .grid_system{
        @apply grid grid-cols-12
    }
}
    
    
    





/* ################################## */

#nav_header{
    height: 101px;  
}
.desk_nav{
    height: 100px;
}
.line_under_nav{
    height: 1px;
}
@media screen and (max-width: 768px) {
    #nav_header{
        height: 76px;
    }
    #nav_header .logo{
        max-width: 115px;
        max-height: 23px;
    }
    .desk_nav{
        height: 75px;
    }
   

}
/* ##################################### */


/* desk nav start */
@layer components{
    .activ_nav_link {
        @apply text-black
    }
    .nav_links ul >a:not(.contact_desk_nav_btn):hover{
        @apply text-black
    }
}

.nav_links ul> a {
   margin-left: 53px; 
}

/* .nav_links ul >a:hover {
    color: #23262F;
 } */
.contact_desk_nav_btn{
    width: 94px;
    height: 43px;
    margin-left: 74px;
}
.logo{
    max-width: 170px;
    height: 34px;
}
#line_under_desk_nav{
    height: 1px;
}
/* desk nav end  */


/* ####################################### */
/* mobile nav start */

.hide_nav_btn{
    display: none;

}

#mb_nav{
    height: calc(100vh - 76px);
    transition: transform 0.2s ease-out;
    overflow-y: scroll;
}





#mb_nav header{
    height: 75px;
}
#mb_nav .page_links, #mb_nav .social_links{
    padding: 60px 0px;
    gap: 30px;
}
@layer components{
    #mb_nav .page_links a {
        @apply text-sm font-semibold text-gray hover:text-black transition-colors ease-in ;
    }
    #mb_nav .page_links a:first-child {
        @apply text-black;
    }
}

@layer components{
    #mb_nav .social_links a {
        @apply text-sm font-semibold text-black hover:text-gray  ;
    }
    #mb_nav .social_links  li {
        @apply  flex flex-row items-center gap-4;
    }  
}
#mb_nav .social_links li:hover path{
    fill:#3772FF;
}
/* mobile nav end */
/* ################################## */


/* hero section start */
.hero{
    /* margin-top: calc(101px + 60px);
    height: calc(100vh - 100px - 1px - 60px); */
}
@media screen and (max-width: 768px) {
    .hero{
        /* margin-top: calc(76px + 80px);
        height: calc(100vh - 75px - 1px - 80px); */
    }
}
.hero_content{
    height: calc(100vh - 101px);
    display: grid;
    place-items: center;
    /* height: 100%;
    padding: 60px 0px; */
    background-image: url('./img/backgrounds/magicoon-header-icons.svg');
    background-repeat: no-repeat;
    background-position: center;   
}
.hero h1{
    line-height: 70px;
}
.hero p{
    line-height: 28px;
    margin: 30px 0px;
}

@media screen and (max-width: 768px) {
    .hero h1{
        line-height: 56px;
    }
    .hero p{
        line-height: 26px;
    }
   
}

.hero .hero_download_btn{
    width: 177px;
    height: 50px;
    border-radius: 29px;
    margin-bottom: 30px;
}
.hero .hero_download_btn .donwload_btn_icon{
    max-width: 20px;
    max-height: 14px;
}
.other_text span{
    margin-bottom: 6px;
}
.hero .text_content{
    /* position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,calc(-50% - 60px)); */

}
@layer components{
    .box_item{
        @apply flex flex-row items-center rounded-2xl
        col-span-12 sm:col-span-6 lg:col-span-3;
    }
    .icon_container{
        @apply w-12 h-12 rounded-full grid place-content-center
    }
    .item_title_num{
        @apply font-semibold text-black;
        
    }
    .item_desc{
        @apply text-sm font-semibold text-gray block -mt-1
    }
}
.box_item{
    gap: 30px;
    padding: 35px 30px;
}

.box_item_figma:hover .icon_container{
    background-color: #FCFCFD;

}
.box_item_figma:hover .item_text h3{
    color: #FCFCFD;
    
}
.box_item_figma .item_text h3{
    font-size: 28px;
    
}
.item_title_num{
    font-size: 38px;
}
@media screen and (max-width:768px) {
    .box_item .item_text h3{
        font-size: 28px;
    }
    .box_item_figma .item_text h3{
        font-size: 24px;
        
    }
    .box_item{
        gap: 24px;
        padding: 30px;
    }
}
/* hero section end */

/* ############################################## */






/* ################ */
/* about text */
@media screen and (max-width:768px) {

    #about .grid_system{
        row-gap: 32px;
        column-gap: 20px;
    }
}


@layer components{
    .about_text,.icons_styles{
        @apply text-center  sm:px-20 xl:px-48
        
    }
    .about_text h3{
        @apply text-black font-bold  mb-8
    }
    .about_text p{
        @apply text-black font-normal text-sm 

    } 
}

.about_text h3{
    font-size: 28px;
}
.about_text p{
   line-height: 26px;
}




.line_between_text{
    width: 1px;
    height: 60px;
    margin: 60px auto;
}

.icons_360_text h3{
    font-size: 45px;
}
.icons_360_text p{
    margin-bottom: 45px;
}

@media screen and (max-width:768px) {
   .icons_360_text h3{
       font-size: 38px;
   }
}


/* ################## */
.icons_styles{
    
}

@layer components{
    .icons_styles .item{
        @apply col-span-6 sm:col-span-3 flex flex-col items-center
    }
    .icons_styles .item .box{
        @apply bg-blue transition
        rounded-2xl grid place-content-center gap-4 place-items-center
    }
    .icons_styles .item .box span{
        @apply  text-sm font-semibold text-white
    }
    .icons_styles .item:hover .box{
        @apply bg-dark_blue
    }
    .icons_styles .item:hover >span{
        @apply bg-black text-white border-none
    }
    .icons_styles .item .box img{
        @apply w-12 h-12 
    }
    .icons_styles .item >span{
        @apply  border-2 border-light_ray font-semibold text-xs transition
    }
}

.icons_styles .item .box{
    width: 120px;
    height: 120px;      
    margin-bottom: 25px; 
}
.icon_px{
    border-radius: 20px;
    /* width: 70px;
    height: 35px; */
    padding: 10px 23px;
}


/* #############    formats ################## */

.formats{

}

.downforamts_box .box{
    padding: 90px 60px 90px 45px;
    gap: 30px;
}
.downforamts_box .box .text_content div:first-child span:first-child{
    width: 30px;
    height: 1px;
}
.downforamts_box .box .text_content h3{
    font-size: 45px;
    line-height: 60px;
    
}
.formats .box .text_content div:nth-child(2){
    padding-left: 55px;

}

.formats .box .icons_content{
    gap: 26px;
}
@layer components {
    .downforamts_box .box .text_content ul li {
        @apply flex items-center gap-5 pb-5
    }
    .formats .box .icons_content .item{
        @apply col-span-6 bg-white rounded-2xl flex flex-col md:flex-row gap-4 sm:gap-5 items-center p-6 
    }
    .formats .box .icons_content .item .icon_container{
        @apply bg-super_light_gray  w-14 h-14
    }
    .formats .box .text{
        @apply text-center md:text-left
    }
    .formats .box .icons_content .item .text span:first-child{
        @apply  font-semibold text-base sm:text-lg text-black block
    }
    .formats .box .icons_content .item .text span:nth-child(2){
        @apply  font-semibold text-gray text-sm
    }
}



@media screen and (max-width: 768px) {
    .downforamts_box .box{
        padding: 48px 16px;
        /* gap: 30px; */
    }
    .downforamts_box .box .text_content div:nth-child(2){
        padding-left: 0px;
    
    }

    .downforamts_box .box .text_content h3{
        font-size: 38px;
        line-height: 56px;
        
    }
    .formats .box .icons_content{
        gap: 15px;
    }
}


#download .donwload_btn {
    width: 232px;
    height: 85px;
}

/* ################### */
/* slider start */
.slider{
    padding: 60px 45px 30px 45px;  
}
@layer components{
    .slider .slide_contorler .bolets_container div{
        @apply bg-white hover:bg-blue border-1 border-light_ray  rounded-full cursor-pointer
    }
}
.slider .slide_content{
    max-width: 480px;
    max-height: 248px;
}

.slider .slide_contorler{
    margin-top: 30px;
}
.slider .slide_contorler .bolets_container div{
    width: 10px;
    height: 10px;
}
.slider .slide_contorler .bolets_container div.active{
    background-color: #3772FF;
    border: 0px;
}

.slide_content{
    overflow-x: hidden;
    height: 248px;
}
.user_view_port{
    display: flex;
    width: 600%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* transition form the js */
    /* transition: transform 0.2s ease; */
}
.slide_content .user_view_port >div{
    width: 100%;
    height: 100%;
    

}



/* ########################################## */
/* footer */

@layer components {
    footer ul li >a {
        @apply text-black hover:text-gray
    }
    
    footer .footer_container >div{
        @apply col-span-12  sm:col-span-6
    }
    footer .footer_container .footer_links >div{
        @apply col-span-12  sm:col-span-6
    }

    footer .footer_title{
        @apply text-sm font-bold  text-black 
    }
  
    footer .footer_container a, footer .footer_container span,
    footer .footer_container p{
        @apply text-sm font-normal leading-7
    }
  
    footer .footer_container ul {
        @apply flex flex-col items-baseline gap-5
    }
    footer .footer_container ul li {
        @apply flex items-center gap-4
    }
    
    /* footer .social_links ul li {
        @apply items-baseline
    } */
    footer .links li >a{
        @apply flex items-center gap-4 p-1 items-baseline
    }
    footer ul li >a:hover svg{
        @apply fill-[#3772FF];
    }
    
    footer .social_links ul li div span{
        @apply block
    }
    footer .links .social_title{
        @apply text-black hover:text-black
    }
  

    
}




footer .footer_container{
}
.footer_title{
    margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
    footer .footer_container >div{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer_subscription{
        padding-left: 100px;
    }
    .footer_title{
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 768px) {
    .footer_title{
        margin-bottom: 25px;
    }
}



.footer_send_mail{

}
.footer_send_mail form{
    /* width: 370px; */
    height: 50px;
}
.footer_send_mail form input{
    border: none;
    outline: none;
    width: 90%;
}


